spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/raksmeycoding/global-config-yml
          default-label: master
          clone-on-start: true
#          search-paths: /taskServicee
  application:
    name: CONFIG-SERVER

server:
  port: 9000


management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics

# config Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:9001/eureka/
